<section fxLayout fxLayoutAlign="center center">
  <mat-card [@show-card]>
    <mat-card-title>Sign In</mat-card-title>
    <form
      [formGroup]="form"
      (ngSubmit)="submitHandler()"
      fxLayout="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
    >
      <mat-form-field>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
        >
        <mat-error *ngIf="form.hasError('required', ['email'])">
          Please, provide email
        </mat-error>
        <mat-error *ngIf="form.hasError('email', ['email'])">
          Please, input valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
        >
        <mat-error *ngIf="form.hasError('required', ['password'])">
          Please, provide password
        </mat-error>
        <mat-error *ngIf="form.hasError('minLength', ['password'])">
          Your password should have at least 6 characters
        </mat-error>
      </mat-form-field>
      <mat-spinner mode="indeterminate" *ngIf="isLoading | async"></mat-spinner>
      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || (isLoading | async)">Login</button>
      <a routerLink="/signup" mat-button>
        Create account
      </a>
    </form>
  </mat-card>
</section>
